@import "../../../styles/common.scss";

.NoticeSlider {
    width: 1038px;
    height: 58px;
    
    margin-left: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}