// font-size
$font72: 72px;
$font46: 46px;
$font28: 28px;
$font24: 24px;
$font18: 18px;
$font16: 16px;
$font14: 14px; //14px font 생성 (5월 25일) 남우
$font12: 12px;

// color
$black: #000000;
$darkRed: #dd2137;
$grey: #cccccc;
$yellow: #f7e317;
$tenderBlack: #222222;
