// font-size
$font72: 72px;
$font46: 46px;
$font28: 28px;
$font24: 24px;
$font18: 18px;
$font16: 16px;
$font14: 14px; // header의 nav bar 상단에 적용하려고 만들었습니다.
$font12: 12px;

// color
$black: #000000;
$darkRed: #dd2137;
$grey: #cccccc;
$yellow: #f7e317;
$tenderBlack: #222222;
<<<<<<< HEAD
$paleBlack: #1c1c1c; // 2019.05.25 color add - 진태
$white: #ffff; // 2019.05.25 color add - 진태
$darkGrey: #737373; // 2019.05.25 color add - 진태

=======
>>>>>>> master
