@import "../../styles/common.scss";

.Payment {
    .container {
        max-width: 1180px;
        margin: 100px auto 80px;
        .pageTitle {
            text-align: center;
            h1{
                font-size: 38px;
                font-weight: 400;
                line-height: 1.4;
            }
        }
        .inner {
            margin: 40px 0;
        }
    }
}