@import "../../styles/common.scss";

.Header {
  margin-top: 20px;
  background-color: black;
  width: 100%;
  .narrowHeader {
    width: 1200px;
    height: 129px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    .logoContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        width: 90px;
        height: 90px;
      }
      .jyk {
        font-size: 38px;
        color: white;
        font-weight: 700;
      }
    }
    .navContainer {
      width: 1000px;
      font-size : $font18;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .loginBar {
        width: 970px;
        font-size: $font14;
        color: white;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 25px;
        opacity: 0.5;
        .verticalLine {
          border-right: 1px soild white;
          margin-left: 20px;
        }
        span {
          margin-left : 40px;
        }
        .loginLink {
          color: white;
        }
      }
      .navigation {
        width: 970px;
        color: white;
        display: flex;
        justify-content: space-between; 
        .navList {
          width: 780px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          font-size: $font18;
          font-weight: 700;
          div {
            margin-left: 70px;
          }
          .listLink {
            color: white;
          }
        }
        .imgList {
          width: 90px;
          display: flex;
          justify-content: space-between;
        }
    }
    .cart, .menu {
      width: 33px;
      height: 29px;
    }
  }
    











  }
}