@import "../../../../styles/common.scss";

.CheckListInfo {
    .checkListInner {
        padding: 30px;
        .checkListTit {
            display: flex;
            align-items: center;
            .pointIcon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                background-color: black;
                border-radius: 50%;
                color: white;
                font-weight: 700;
                font-size: $font18;
            }
            span {
                padding: 0 10px;
                font-size: $font18;
                font-weight: 700;
            }
        }
        .checkSubTit {
            margin: 15px 0;
            p {
                line-height: 1.4;
                font-size: $font14;
            }
        };
        
    }
}